header {
    clear: both;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    float: right;
}

footer {
    clear: both;
}

#animateDiv {
    width: 90px;
    background: #4147f9;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
    float: left;
    margin: 15px 0px;
    border-radius: 70px;
    position: relative;
    animation: myAnimateDiv 11s infinite;
}

@keyframes myAnimateDiv{
    0% {transform: rotate(0deg);left: -200px;}
    10% {transform: scale(1.2,1.2);left:0px;background: #41ecd5;}
   17% {transform: rotate(10deg);}
   25% {transform: rotate(0deg);}
   30% {transform: rotate(0deg);left:400px;}
   40% {transform: rotate(0deg);left:400px;}
   45% {transform: rotate(360deg);left:400px;}
   50% {transform: rotate(0deg);left: 400px;}
   55% {transform: rotate(0deg);left: 300px;background: #bc02c3;}
   58% {transform: rotate(0deg);left: 300px;background: #fd5ace;}
   67% {transform: rotate(350deg);left: 800px;}
   70% {transform: rotate(0deg);left:800px;}
   75% {transform: scale(1.2,1.2);left: 800px;}
   80% {transform: rotate(370deg);left: 950px;background: #8b4bf3;}
   90% {transform: rotate(350deg);background: rgb(0, 181, 1);}
   97% {transform: rotate(360deg);left:400px;}
  100% {transform: rotate(0deg);left: -200px;}
}
